.row {
    display: flex;
    justify-content: space-between;
    

}

.row_left {
    text-align: left;
    margin: 0;
}

.row_right {
    text-align: right;
    margin: 0;
}


.bullets {
    justify-content: left;
}
.bullet {
    text-align: left;
}