.row {
    display: flex;
    justify-content: space-between;
    

}

.rowElement {
    margin: 0;
    padding: -2rem;
}

.rowLeft {
    text-align: left;
    margin: 0;
    font-weight: bold !important;
    
}

.rowRight {
    text-align: right;
    margin: 0;
}


.bullets {
    justify-content: left;
}
.bullet {
    text-align: left;
}

.title {
    text-decoration: underline;
}